<td>
	<i class="fa fa-comment"></i>
	<a href="#comments"><%= comments.count %></a>
</td>

<td>						
<div class="comment-list bt style-2" id="comments">
	<div class="float-wrapper">
		<h2 class="comment-count"><%= comments.count %>件コメント</h2>
	</div>
</div>
</td>



					

<% comments.each do |comment| %>
	<p class="comment">
		<div class="comment-body bb">
			<div class="comment-avatar">
				<div class="avatar">
					<tr>
						<td>
					<%= attachment_image_tag comment.user, :profile_image, size:'60x60', fallback: "no_image.jpg" %>
					<td>
				</tr>
				</div>
			</div>
			<div class="comment-text">
				<div class="comment-author clearfix">
                    <td>
					<%=link_to comment.user.name,  user_path(comment.user) %></a>
					<span class="comment-meta">
						<span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %>
						</span>
					</span>
				  </td>
				</div>
				  <td>
	        		<div class="comment-entry"><%= comment.comment %></div>
	        	</td>
	        </div>
		</div>
	</p>

	<% if comment.user == current_user %>
		<td><%= link_to "Destroy", book_book_comments_path(comment.id), method: :delete, remote: true, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
		</td>
	<% end %>
<% end %>
