<div class="container">
	<div class="row">
		<div class="col-xs-3">

			<h2>User info</h2>
			<%= render 'users/profile', user: @user %>

			<h2>New book</h2>
			
			<%= render 'books/newform', book: Book.new %>

		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>

			<table class="table">
				<tr class="book_<%= @book.id %>">
				
				<%= render 'books/book', book: @book %>


					<td>
					<% if @book.user ==current_user %>
						<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
						<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				    </td>
				</tr>
			</table>
            
　　　　　　　
            <div id="comments_area">
                <table class="table">
                	<tr>
				<%= render partial: 'book_comments/index', locals: { book: @book, comments: @comments } %>
			
		            </tr>
			</div>	
                   <tr>
                    <%= render partial: 'book_comments/form', locals: {book: @book, book_comment: @book_comment, comments: @comments} %>
			
                    </tr>
                </table>
		</div>
	</div>
</div>

